<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Loans">
	
  <test thread-count="5" name="Car Loans Test">
    <classes>
      <class name="loan.carloan.oldcar.Registration">
		  <methods>
			  <exclude name="apiRegistration"></exclude>
		  </methods>
	  </class>
      <class name="loan.carloan.newcar.Registration">
		  <methods>
			  <include name="apiRegistration"></include>
		  </methods>
      </class>
    </classes>
  </test> <!-- Test -->
  
  
   <test thread-count="5" name="House Loans Test">
    <classes>
      <class name="loan.houseloan.newhouse.Registration"/>
      <class name="loan.houseloan.oldhouse.Registration"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Loans -->
